$orange: #fe5000;
$brown: #862633;
$label_color: #6c757d;
::ng-deep mat-mdc-card-title {
  font-family: "DB Ozone X" !important;
}

label {
  color: $brown;
  font-size: 30px;
}

h1 {
  color: $orange;
  font-size: 45px;
}

.mat-card-stake {
  margin-left: 10%;
  margin-right: 10%;
}

.header-title {
  text-align: center;
  align-self: center;
  margin-bottom: 10%;
  margin-top: 10%;
}

.title-card {
  color: $orange;
  font-size: 45px;
  font-family: "DB Ozone X" !important;
  font-weight: bold !important;
}

.title-sep-section {
  margin-top: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}
.form-container {
  display: flex;
  flex-direction: column;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

::ng-deep mat-card-content {
  margin-left: 50px;
  margin-right: 50px;
}

.div-sep {
  position: relative;
}

.add-stroke-button {
  width: 150px !important;
  border-color: $orange !important;
  color: $orange !important;
  font-weight: medium;
  font-size: 18px;
}

.choice-label {
  color: $brown;
  font-size: 30px;
  width: 40px;
  text-align: end;
}

.div-choice-no {
  margin-top: 10px;
}

.input-field-choice {
  width: 96.5%;
  margin-left: 10px;
}

span {
  color: red;
}

mat-divider {
  border-top-color: $brown !important;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 60px;
}

.partition-selector {
  width: 50% !important;
}

input,
select {
  font-size: 20px;
  max-height: 44px;
}

.border-orange {
  border-color: $orange;
}
